.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 200ms ease-out;
}

/* using a varibale */
.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

/* iside .sidebarOption if u find a child which is material ui icon then */
.sidebarOption > .MuiSvgIcon-root {
  padding: 14px;
}

.sidebarOption > h2 {
  font-weight: 680;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
